{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/itboard.css' %}">
    <title>itboardPage</title>
</head>
<body>
    <div class="All">
        <p class="Write">Write</p>
        <table>
            <label class="table">{{ form.as_table }}</label>
        </table>
        <!--
            <div>
            {{form.writer}}<Br>
            {{form.body}}
            </div>
        -->
        <p class="Read">Read</p>
        {% for writings in writings.all %}
        <div class="list">
        <span>{{ writings.writer }}</span>
        <i><p>{{ writings.date }}</p></i>
        <b><p>{{ writings.body }}</p></b>
        </div>
        {% endfor %}
        <button type='submit' class="Submit">작성 완료</button>
        <form method="POST">
        {% csrf_token %}
    </div>
</body>
</html>