{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/select.css' %}">
    <title>SelectPage</title>
</head>
<body>
    <div class="Container">
      <div class="span">테스트하고 싶은 학부를 클릭하세요!<br></div>
      <div class="BtnBox">
        <a href="{% url 'form'  %}" class="Link">
          <button class="MobileBtn">IT융합자율학부가 궁금해!</button>
        </a>
        <a href="{% url '#' developer.id %}" class="Link">
          <button class="MobileBtn">사회융합자율학부가 궁금해!</button>
        </a>
        <a href="{% url 'select' developer.id %}" class="Link">
          <button class="MobileBtn">미디어콘텐츠융합자율학부가 궁금해!</button>
        </a>
        <a href="{% url 'select' developer.id %}" class="Link">
          <button class="MobileBtn">인문융합자율학부가 궁금해!</button>
        </a>
      </div>
    </div>
</body>
<footer>
  <div class="MobileContainer2">
    <div class="MobileWrapper">
      <img class="MobileLogo" href="{% static 'img/TestLogo.png' %}">
      <div class="Maker">
        <Copyright>&copy;2022 SkhuZhuanye.</Copyright>
      </div>
      <div class="Maker">
        <Copyright>All rights reserved.</Copyright>
      </div>
      <div class="Countries">
        <button class="Language">한국어</button>
        <button class="Language" onClick={onClickHandler}>English</button>
        <button class="Language" onClick={onClickHandler}>中文</button>
      </div>
    </div>
  </div>
</footer>
</html>