{% extends 'main.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
{% block contents %}
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/select.css' %}">
  <title>SelectPage</title>
</head>
<body>
    <div class="Container">
      <div class="span">테스트하고 싶은 학부를 클릭하세요!<br></div>
      <div class="BtnBox">
        <a href="{% url 'form'  %}" class="Link">
          <button class="MobileBtn">IT융합자율학부가 궁금해!</button>
        </a>
        <a href="{% url '#' developer.id %}" class="Link">
          <button class="MobileBtn">사회융합자율학부가 궁금해!</button>
        </a>
        <a href="{% url 'select' developer.id %}" class="Link">
          <button class="MobileBtn">미디어콘텐츠융합자율학부가 궁금해!</button>
        </a>
        <a href="{% url 'select' developer.id %}" class="Link">
          <button class="MobileBtn">인문융합자율학부가 궁금해!</button>
        </a>
      </div>
    </div>
</body>
{% endblock %}
</html>