@font-face {
  font-family: 'MaplestoryOTFLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MaplestoryOTFLight';
}
/*radio 버튼 없애기*/
.choice {
  opacity: 0;
}
input[type=radio]:checked + label {
  background: #117fd6;
  color: white;
}
/*footer 제외 body 범위*/
.Container {
  height: 105vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*버튼*/
.Btn {
  border-radius: 0.5rem;
  background-color: #117fd6;
  color: white;
  padding: 1.5rem 2rem;
  line-height: 1.5rem;
  width: 70%;
  display: flex;
  margin: 1.8rem auto 0;
  justify-content: flex-start;
}
/*다음, 이전, 제출 버튼*/
.prev_btn, .next_btn, .submit_btn {
  font-family: 'MaplestoryOTFLight';
  background-color: white;
  border-radius: 1rem;
  border: 5px solid #117fd6;
  padding: 5px;
  margin-top: 1rem;
}
.prev_btn:hover, .next_btn:hover, .submit_btn:hover {
  background-color: #117fd6;
  color: white;
}
/*footer*/
footer{
  display: flex;
  height: 1rem;
  transform : translateY(1500%);
  width: 100%;
  border-top: 1px solid rgb(122, 122, 122);
}
#wrapper{
  margin: auto;
  padding-bottom: 1rem;
}
.Countries {
  margin: 0 auto;
  float: right;
  padding-top: 1rem;
}
.Language {
  border: none;
  background-color: white;
  font-size: 0.7rem;
  margin: 0 auto;
  float: right;
}
.Language:hover {
    color: #117fd6;
}
.Maker {
  position: inline-block;
  font-size: x-small;
  float: left;
  padding-top: 1rem;
}