@font-face {
    font-family: 'MaplestoryOTFLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'MaplestoryOTFLight';
}
p {
    line-height: 1.2rem;
}
/*테스트 설명*/
.Text {
    width: 80%;
    margin: 0.5rem 0 0;
    font-size: small;
    align-items: center;
}
/*개발자들 소개*/
.text {
    width: 80%;
    margin: 0.5rem auto;
    margin-bottom: 3rem;
    font-size: small;
    text-align: center;
}
/*footer 제외 body 범위*/
.MobileContainer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}
/*은지 사진*/
.self {
    margin-top: 10vh;
}
/*주제*/
.Shenme {
    padding: 1em 0;
    border-bottom: solid 1px #117fd6;
    font-size: 1rem;
    width: 80%;
}
/*버튼*/
.MobileBtn {
    font-family: 'MaplestoryOTFLight';
    border: none;
    width: 28vh;
    border-radius: 0.3rem;
    padding: 1.6rem;
    background-color: #117fd6;
    color: white;
    font-weight: 200;
    font-size: 0.9em;
    margin-bottom: 1rem;
    text-align: center;
}
.MobileBtn:hover {
    opacity: 0.85;
}
/*footer*/
footer{
    display: flex;
    height: 1rem;
    transform : translateY(-100%);
    width: 100%;
    border-top: 1px solid rgb(122, 122, 122);
}
#wrapper{
    margin: auto;
    padding-bottom: 1rem;
}
.Countries {
    margin: 0 auto;
    float: right;
    padding-top: 1rem;
}
.Language {
    border: none;
    background-color: white;
    font-size: 0.7rem;
    margin: 0 auto;
    float: right;
}
.Language:hover {
      color: #117fd6;
}
.Maker {
    position: inline-block;
    font-size: x-small;
    float: left;
    padding-top: 1rem;
}